<!DOCTYPE html>
<html>
	<head>
		<link href="metro.min.css" rel="stylesheet">
		<link href="metro-icons.css" rel="stylesheet">
		<link href="metro-responsive.css" rel="stylesheet">
		<link href="metro-schemes.min.css" rel="stylesheet">
		<link href="NewYellow.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">

		<script src="jquery.js"></script>
		<script src="metro.js"></script>
	</head>
	<body class="bg-black">
		<header>
			<img class="image-container" style="display:block;margin:auto; padding:10px;" src="logo.jpg" width="30%">
			<div class="app-bar bg-yellow" data-role="appbar">
				<div class="center">
					<ul class="app-bar-menu center" style="float:none; width: 50%">
						<li>
							<a class="app-bar-element" href="/index.html">Home</a>
						</li>
						<li>
							<a href="" class="dropdown-toggle">SIGS</a>
							<ul class="d-menu bg-yellow" data-role="dropdown">
								<li><a href="">SIGAI</a></li>
								<li><a href="">SIGBED</a></li>
								<li><a href="">SIGCSE</a></li>
								<li><a href="">SIGGRAPH</a></li>
								<li><a href="">SIGITE</a></li>
								<li><a href="">SIGMOBILE</a></li>
								<li><a href="">SIGWEB</a></li>
							</ul>
						</li>
						<li>
							<a href="" class="dropdown-toggle">About</a>
							<ul class="d-menu bg-yellow" data-role="dropdown">
								<li><a href="">Advisors</a></li>
								<li><a href="">Officers</a></li>
							</ul>
						</li>
						<li><a href="">Events</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Sponsors</a></li>
					</ul>
				</div>
			</div>
		</header>
		<main>
			<div class="container" style="margin-top:20px;">
				<div class="flex-grid">
					<div class="row cells3 cell-auto-size">
						<div class="cell">
							<div class="tile-wide fg-white center" data-role="tile" style="float:none">
								<div class="tile-content slide-up">
									<div class="slide">
										<div style="width: 100%;" class="image-container image-format-hd" >
											<div class="frame">
												<div style="width: 100%; height: 174.375px; background-image: url(&quot;images/3.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;">
												</div>
											</div>
										</div>
									</div>
									<div class="slide-over op-orange text-small padding10">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</div>
								</div>
							</div>
						</div>
						<div class="cell">
							<div class="tile-wide fg-white center" data-role="tile" style="float:none">
								<div class="tile-content slide-up">
									<div class="slide">
										<div style="width: 100%;" class="image-container image-format-hd">
											<div class="frame">
												<div style="width: 100%; height: 174.375px; background-image: url(&quot;images/3.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;">
												</div>
											</div>
										</div>
									</div>
									<div class="slide-over op-orange text-small padding10">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</div>
								</div>
							</div>
						</div>
						<div class="cell">
							<div class="tile-wide fg-white center" data-role="tile" style="float:none">
								<div class="tile-content slide-up">
									<div class="slide">
										<div style="width: 100%;" class="image-container image-format-hd">
											<div class="frame">
												<div style="width: 100%; height: 174.375px; background-image: url(&quot;images/3.jpg&quot;); background-size: cover; background-repeat: no-repeat; border-radius: 0px;">
												</div>
											</div>
										</div>
									</div>
									<div class="slide-over op-orange text-small padding10">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row cells3 cell-auto-size align-justify">
						<div class="cell bg-yellow margin20" style="padding: 20px;">
							<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="cell bg-yellow margin20" style=" padding: 20px;">
							<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="cell bg-yellow margin20" style=" padding: 20px;">
							<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="bg-yellow" style="height:50px;">

			<div class="bg-yellow" style="padding-top: 20px;">

				<center>
				ACM @ UCF | 2016
				</center>

			</div>

		</footer>
	</body>

</html>
